<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{code} - Oxford Bus Map</title>
    <link rel="stylesheet" href="/asset/css.css"/>
</head>
<body class="no-map">
    <div class="boxes"><div class="block">
    <div class="box popout no-padding header">
        <code class="service-code" style="border-color:{colour};">
            <span>{code}</span>
        </code>
        <form action="/search" method="get">
            <label for="search" class="horizontal-overflow">
                <input type="text" id="search" name="q"/>
                <h1>{description}</h1>
                <span class="search-icon">Search</span>
            </label>
            <span class="search-icon" id="searchButton" onmousedown="document.getElementById('search').value.length>0&&this.parentNode.submit()">Submit</span>
        </form>
    </div>
    <div class="box no-padding">
	<img src="/service/{code}/map.svg" class="not-too-tall not-overflowing-horizontally"/>
    </div>
    <section class="box big">
        <form action="#" method="get">
            <input
                type="date"
                name="on"
                class="box"
                min="{min}"
                max="{max}"
                required
                value="{date}"
                placeholder="{date}"
                pattern="\d{{4}}-\d{{2}}-\d{{2}}"
                oninput="this.form.submit();"
            />
            <noscript><button type="submit" class="box">See timetable for that day</button></noscript>
        </form>
        <input type="checkbox" id="showAllStops"/>
        <label for="showAllStops">Show line diagrams and all stops</label>

        {tables}
    </section></div>
        
    <nav><ul class="block">
        <li class="box button"><a href="/" title="View map">Map</a></li>
    </ul></nav>
    </div>
</body>
</html>
