body,html{
	margin:0;
	height:100%;
}
body{
	background-color:#f2fbf7;
	display:flex;
	flex-flow:column;
}

/* Service */

.serviceDot{
	width:1px;
	height:1px;
	position:fixed;
	background-color:white;
	border-radius:50%;
	z-index:-1; /* behind content */
	animation:1.6s both dot;
}
.service.dot-no-longer-needed .serviceDot{
	display:none;
}
.service.reverse .serviceDot{
	animation:.8s both dot-reverse;
}

@keyframes dot{
	from{
		transform:scale(0);
	}
	to{
		transform:scale(10000);
	}
}
@keyframes dot-reverse{
	to{
		transform:scale(0);
	}
	from{
		transform:scale(10000);
	}
}
@keyframes fade-in{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
@keyframes fade-out{
	to{
		opacity:0;
	}
	from{
		opacity:1;
	}
}

.service{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	overflow:auto;

	z-index:1000;
	
	-webkit-overflow-scrolling:touch;
}
.service article,.service .close{

	animation:1s both fade-in;
}
.service.reverse article,.service.reverse .close{
	animation:.8s both fade-out;
}

.service .close{
	position:fixed;
	top:0;
	left:0;
	margin:2mm;
	padding:1mm;
	border-radius:1mm;

	border:none;
	cursor:pointer
}

.service.black,.service.black a{
	color:black;
}
.service.white,.service.white a{
	color:white;
}

.service header{
	display:flex;
        gap:32pt;
        padding:32pt;
}

.routeMap{
    height:10cm;
    color:black;
    z-index:0;
}
.service .routeMap a{
	color:black;
}
.routeMap .stop-popup .leaflet-popup-content{
    max-height:8cm;
}

.service code.like-h1{
	/* same as h1 */
	font-size:32pt;
	margin:0;
	display:block;
	font-weight:bold;
}

div.centre{
	text-align:center;
}
div.matrices{
	text-align:left;
	display:inline-block;
	max-width:100%; /* scroll */
}

.matrix-margin{
	background-color:white;
	padding:2mm;
	border:1mm solid #ccc;
	border-radius:4mm;
	display:inline-block; /* don't extend to right */
	margin:0 7mm;
}
.matrix-scroll{
	overflow-x:auto;
}

.matrix h2{
	margin:2mm 1cm;
}

.matrix table{
	border-spacing:0;
	color:black;
	table-layout:fixed;
	font-size:12pt;
}
.service .matrix a{
	color:black;
}

.matrix tr{
	height:30px;
}
.matrix td:nth-child(n+2){
	border-left:4px solid #ccc;
}
.matrix tr:nth-child(n+2) td,
.matrix tr:nth-child(n+2) th{
	border-top:4px solid #ccc;
}

.matrix th{
	text-align:right;
	white-space:nowrap;
	max-width:calc(100vw - 4cm);
	position:sticky;
	left:0;
	background-color:white;
	background-clip:padding-box;
	text-overflow:clip;
	overflow:hidden;
}
.matrix td{
	text-align:center;
}
.matrix td,matrix th{
	padding:2px;
	width:48px;
}

.matrix .diagram-cell{
	display:none;
	border:0;
	padding:0;
}
.matrix .diagram-cell img{
	vertical-align:top;
}

.matrix span.for{
	float:left;
	font-weight:bold;
	font-size:10pt;
	white-space:nowrap;
}

.matrix tr.timing-status--OTH{
    display:none;
}
#showAllStops:checked~* td{
	white-space:nowrap;
}
#showAllStops:checked~* tr.timing-status--OTH,
.matrix tr.timing-status--OTH:first-child,
.matrix tr.timing-status--OTH:last-child{
    display:table-row;
}
#showAllStops:checked~* .diagram-cell{
    display:table-cell;
}

#showAllStops{
	margin-left:1cm;
}

.operator--sox,.operator--scox{
	color:#cc863f;
}
.operator--obc,.operator--cslb{
	color:#cc3f3f;
}

ul.date{
	list-style:none;
	padding:0;
	margin:0;
	display:flex;
	overflow-y:auto;
	scrollbar-width:0;
	border-color:white;
	border-width:1mm;
}
ul.date li{
	display:inline-block;
	font-size:32pt;
	margin:2mm;
	cursor:pointer;
}
ul.date li:hover{
	opacity:1;
}
ul.date li:not(.unimportant){
	text-decoration:underline;
}
ul.date li.saturday{
	border-left-style:solid;
	padding-left:4mm; /* = margin between days */
}
ul.date li.sunday{
	border-right-style:solid;
	padding-right:4mm;
}

/* Stops */

.stop-popup{
	color:black;
}

.stop-popup h1,.stop-popup h2{
	font-size:16pt;
}
.stop-popup h1{
	margin:4mm 4mm 2mm 4mm;
}
.stop-popup h2{
	font-weight:bold;
	margin:0;
}
.stop-popup h1 a{
	color:black;
}

code.street{
	border: 1px solid #ccc;
	border-radius: 2mm;
	padding: 1mm;
}
.stop-popup code.street{
	margin:0 4mm;
}

.stop-popup ul.live{
	margin:0 2mm;
	padding:0;
}
.stop-popup ul.live>li{
	list-style:none;
	padding:2mm;
	margin:2mm 0;
	border-radius:4mm;
	overflow:hidden;
	border:1mm solid #ccc;
}
.stop-popup ul.live>li>a{ /* small service code */
	vertical-align:top;
}
.stop-popup ul.live>li>.times{
	margin-left:2mm;
}
.stop-popup ul.live>li h2{
	font-size:16pt;
	line-height:16pt;
}
.stop-popup ul.live h2.dest{
	float:right;
	text-align:right;
}
.stop-popup ul.live div.times{
	display:inline-block;
}

#stopSpin{
	width:4cm;
	height:4cm;
	position:fixed;
	border:1cm solid #ccc;
	border-radius:50%;
	margin:-3cm -3cm;

	z-index:-1;
	opacity:0;
	transform:scale(.6);

	transition:transform .6s,opacity .3s,z-index .6s;
}
#stopSpin.loading{
	z-index:10000;
	opacity:1;
	transform:scale(1);
	transition:z-index 0,transform .6s,opacity .3s;
}
#stopSpin::before{
	position:absolute;
	top:-9mm;
	left:-9mm;
	width:42mm;
	height:42mm;
	border:8mm solid white;
	border-radius:50%;
	content:"";
}
#stopSpin::after{
	position:absolute;
	top:-1cm;
	left:-1cm;
	width:6cm;
	height:6cm;
	content:"";
	background:url(/asset/spin.svg) no-repeat;
	background-size:17mm;
	background-position:50% 2mm;
	animation:3s linear infinite reverse spin;
}

.small-service-code{
	display:inline-block;
	text-decoration:none;
	border:1mm solid #ccc;
	height:4mm;
	width:8mm;
	padding:.5mm;
	border-radius:4mm;
	text-align:center;
	font-size:10pt;
	list-style:none;
	color:black;
}

.stop-popup ul.live>.black,.stop-popup ul.live>.black .small-service-code{
	color:black;
}
.stop-popup ul.live>.white,.stop-popup ul.live>.white .small-service-code{
	color:white;
}
.stop-popup ul.live>.black .small-service-code{
	border-color:black;
}
.stop-popup ul.live>.white .small-service-code{
	border-color:white;
}


ul.services{
	padding:0;
	margin:2mm;
}
ul.services>li{
	margin:1mm;
	display:inline-block;
}

@keyframes spin{
	from{
		transform:rotate(0);
	}
	50%{
		transform:rotate(180deg);
	}
	to{
		transform:rotate(360deg);
	}
}

/* Search */

#search{
	/*height:1cm; it can grow*/
	background-color:white;
}
#searchForm{
	display:flex;
}
#q{
	flex:1;
	height:5mm;
	margin:1mm;
	padding:1mm;
	border:0;

	border-bottom:1mm solid #ccc;
	background-color:transparent;
	outline:0;
	transition:border-bottom-color .2s;
	border-radius:0;
}
#searchForm button{
	height:1cm;
	width:1cm;

	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAHiSURBVDhPtZU7j0FBFIDPbiI6BL1HoVYpiKDzKCSESBQaifgROg1Cxc9QoZAoVIhOIoKECEGjQiEizt45e01s7HKt3S+ZjDlzzmfuzFzeUAD+mKek+/0e6vU6NBoNWCwW4PV6qen1ejFDhEml0Ov1UKFQsAXctFwuJ2Z9Ikm6XC65IJ/P43q9pngoFOJflM1mKcZ4KD2fz2gymahwNBrxGCMajaLNZkOj0Ujzk8mE4u/C4C6z2QzG4zEEg0EQ5HA4HGC73cLxeKR9lclkUCqVKLdWq1H/UNrv96kPBALUy+VyUCqVUCwWYT6fg9/vB7fbTXPsAAla7x3a7TY9GnvUTqeD1WoV4/E4ajQajMVilDMYDCgnmUzS+KF0tVpRgXBt0GKxoMFgQJ1Oh6lUCk+nE+Wk02nKKZfLNJZ0+olEgoqsVis2m00U9lKcQex2uzSnUqlwt9tRTJI0EolQIWtmsxkzmQwWCgUU9pPHh8OhmC1BKrwxVOTxePiKrxu7buweX3NX6nK5qJDt5QW2x61WCyuVCk6nU35nr/lRGg6HSWi328WIdL6VOhwOEvp8PjHyHDdSp9NJQib+LV+kl0Nh4lfg0ouQ9a9C0s1mg2q1+k+EDP7LL4hBq9Wyjy/zD/9RAB9141xmjT3CTwAAAABJRU5ErkJggg==);
	background-size:4mm;
	background-position:center;
	background-repeat:no-repeat;
	background-color:transparent;
	font-size:0;

	border:0;
	border-radius:0;
	cursor:pointer;
}
#q:focus{
	border-bottom-color:black;
}
#searchResults{
	padding:0;
	margin:0;
}
#searchResults>li>*{
	margin:1mm;
	display:inline-block;
}
#searchResults>li>p{
	display:inline; /* on same line */
}

/* Text */

body{
	font-family:arial,'sans-serif';
}

a{
	color:black;
}
.no-underline{
	text-decoration:none;
}

h1{
	font-size:32pt;
	margin:0;
	font-weight:normal;
}
p{
	margin:1mm;
}
.light{
	font-weight:lighter;
}

.unimportant{
	opacity:.6;
}

.small-text{
    font-size:11px;
    margin:0;
    padding:.5mm;
}

.ie-only{
	display:none;
}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast: none){
	.ie-only{
		display:block;
	}
}

/* @media */

@media(max-width:450px){
	.service header{
		text-align:center;
		flex-direction:column;
	}
}
