#map,#svgFrame{
	width:100%;
	/*height:100%;*/
	box-sizing:border-box;
	border:none;
	flex:1;
}
#map{
	display:none;
}

/* Leaflet */

#map{
	background-color:#f2fbf7;
}
#map .leaflet-interactive{
	cursor:unset; /* not pointer */
}
#map .leaflet-popup{
	font-family:arial,"sans-serif";
}
.stop-popup .leaflet-popup-content{
	margin:0;

	max-height:calc(100vh - 5cm);
	min-height:2cm;

	width:11cm;
	max-width:calc(100vw - 2cm);

	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	color:black;
}
.stop-popup p{
	margin:0;
}
.stop-popup .leaflet-popup-content-wrapper, .leaflet-popup-tip{
	box-shadow:0 0 0 1mm #ccc;
}
.stop-popup .leaflet-popup-tip{
	margin:-13px auto 0;
}
